# accelerate
datasets==2.4.0
sentencepiece!=0.1.92
scipy==1.9.1
scikit-learn==1.1.2
torch==1.13.1
transformers==4.25.1
adapter-transformers
prv-accountant
opacus
rouge_score
jupyter
notebook
matplotlib
pandas
numpy
evaluate
dill==0.3.6
argparse
python-box